$lblue: #4D6F95;;
$dblue: #2B4761;
$black: #000000;
$dark: #1E1E1E;
$white: #FFFCFA;
$grey: #CED4D7;
$accent: #0013BB;
$green: #219653;
$red: #EB5757;
$gray: #BDBDBD;
$font:'Inter', sans-serif;

@mixin bg_s {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin df_ac {
    display: flex;
    align-items: center;
}
@mixin df_jcc {
    display: flex;
    justify-content: center;
}
@mixin df_ac_jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}
:root {
    --container: 1636px;
    --fz64: 64px;
    --fz48: 48px;
    --fz36: 36px;
    --fz28: 28px;
    --fz24: 24px;
    --fz18: 18px;
    --fz16: 16px;
    --fz14: 14px;
    --fz8: 8px;
}
body {
    background-color: $white;
    margin: 0;
    padding: 0;
    color: $dark;
    font-family: $font;
    box-sizing: border-box;
    font-size: var(--fz16);
    font-weight: 400;
}
a,
a i {
    display: inline-block;
    text-decoration: none;
    color: $black;
    transition: all .3s;
}
a:hover,
a:hover i {
    color: rgba(14, 14, 14, 0.7);
}
section {
    margin-bottom: 120px;
}
.pt0 {
    padding-top: 0!important;
}
.pb0 {
    padding-bottom: 0!important;
}
.mt0 {
    margin-top: 0!important;
}
.mb0 {
    margin-bottom: 0!important;
}
img,
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input,
textarea,
select {
    outline: none;
    border: 1px solid $gray;
    background: $white;
    padding: 20px;
    height: fit-content;
    backdrop-filter: blur(5px);
    width: 100%;
    transition: all .3s;
    &.error {
        border-color: red!important;
    }
}
// select {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3e%3cpath d='M4.2907 7.42566L0.618285 0.675658L7.96313 0.675659L4.2907 7.42566Z' fill='%23444444'/%3e%3c/svg%3e") calc(100% - 5px) / 10px no-repeat $white;
//     &::-ms-expand {
//         display: none;
//     }
// }
.pt0 {
    padding-top: 0!important;
}
.mt0 {
    margin-top: 0!important;
}
.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 20px 32px;
    background-color: $black;
    border: 1px solid transparent;
    font-size: var(--fz16);
    font-weight: 700;
    transition: all .3s;
    align-self: start;
    border-radius: 8px;
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    &:hover {
        color: $white;
        background-color: $dark;
    }
    &.white {
        background-color: $white;
        color: $lblue;
        border: 2px solid $lblue;
        &:hover {
            background-color: $white;
            color: $dblue;
            border: 2px solid $dblue;
        }
    }
    &.blue {
        background-color: $lblue;
        color: $white;
        border: 2px solid $white;
        &:hover {
            background-color: $lblue;
            color: $dblue;
            border: 2px solid $dblue;
        }
    }
}
._title {
    font-size: var(--fz28);
    font-weight: 700;
    color: $black;
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6, p {
  color: $black;
  margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: var(--container);
}

// Начало основных стилей
// Header

.header {
    padding: 16px 0;
    .headerBlock {
        .info-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                width: 106px;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
            .headerNav {
                &.contact {
                    li {
                        &:nth-child(3) {
                            &::after {
                                position: absolute;
                                content: '';
                                width: 100%;
                                height: 2px;
                                background-color: $accent;
                                transform: translate(-100%, 25px);
                            }
                        }
                        font-size: var(--fz16);
                        font-weight: 600;
                        transition: .5s;
                        position: relative;
                        
                    }
                }
                ul {
                    display: flex;
                    gap: 40px;
                    li {
                        font-size: var(--fz16);
                        font-weight: 600;
                        transition: .5s;
                        &:hover {
                            position: relative;
                            &::after {
                                position: absolute;
                                content: '';
                                width: 100%;
                                height: 2px;
                                background-color: $accent;
                                transform: translate(-100%, 25px);
                            }
                        }
                    }
                }
            }
        }
    }
}
.hero {
    background-image: url("../img/bgnew.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    .heroBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 172px 0;
        margin-bottom: 120px;
        .text {
            color: $white;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .title {
                font-size: 36px;
                text-align: center;
                font-weight: 600;
            }
            .desc {
                text-align: center;
                font-size: 24px;
            }
        }
    }
}

.reviewsSection {
    .reviewsBlock {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .info-block {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .item {
                display: flex;
                gap: 16px;
                .img {
                    width: 100px;
                    height: 100px;
                    img {
                        width: 100%;
                        border-radius: 20px;
                        object-fit: cover;
                    }
                }
                .content {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    .text {
                        .title {
                            font-size: var(--fz36);
                            font-weight: 600;
                        }
                        .desc {
                            font-weight: 600;
                        }
                    }
                    .arrow {
                        width: 30px;
                        img {
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}
.lastNewsSection {
    .lastNewsBlock {
        ._title {
            margin-bottom: 32px;
        }
        .swiper {
            .swiper-wrapper {
                display: flex;
                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    gap: 10px;
                    border: 1px solid $black;
                    border-radius: 20px;

                    .img {
                        width: 350px;
                        height: 250px;
                        img {
                            width: 100%;
                            object-fit: cover;
                            border-radius: 20px;
                        }
                    }
                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        .title {
                            font-size: var(--fz28);
                            font-weight: 700;
                        }
                        .desc {
                            font-weight: 600;
                        }
                        .btn {
                            align-self: start;
                            width: 220px;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    background-color: $black;
    .footerBlock {
        padding: 24px 0;
        .info-block {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $white;
                opacity: .5;
                a {
                    color: $white;
                }
            }
            .logo {
                width: 106px;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
.articleSection {
    margin-top: 120px;
    .articleBlock {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .info-block {
            display: flex;
            flex-direction: column;
            gap: 64px;
            align-items: center;
            p {
                font-size: var(--fz24);
                font-weight: 600;
            }
            .img {
                width: 1300px;
                img {
                    width: 100%;
                    object-fit: contain;    
                }
            }
        }
    }
}
.commentSection {
    .commentBlock {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .info-block {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .item {
                display: flex;
                gap: 16px;
                .img {
                    width: 100px;
                    height: 100px;
                    img {
                        width: 100%;
                        border-radius: 100px;
                        object-fit: cover;
                    }
                }
                .content {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    .text {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        .title {
                            font-size: var(--fz28);
                            font-weight: 600;
                        }
                        .desc {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
.contactSection {
    .contactBlock {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        .info-block {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .item {
                display: flex;
                gap: 16px;
                align-items: center;
                .img {
                    width: 100px;
                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .text {
                    font-size: var(--fz36);
                    font-weight: 600;
                }
            }
        }
    }
}

#infoModal {
    .modal-content {
        .modal-header {
            display: flex;
            .h1 {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
            }
        }
        .modal-body {
            display: flex;
            flex-direction: column;
            input {
                margin-bottom: 16px;
            }
            .btn-block {
                .btn {
                    border-radius: 10px;
                }
                margin-bottom: 8px;
                
            }
        }
    }
}

































